@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
/*     outline: 1px solid tomato;
 */}
body{
    margin: 0;
    padding: 0;
    background-color: #f6c600;
}

header{
    width: 100%;
/*     background-color: red;
 */    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.div__header{
    margin-left: 358px;
    margin-right: 390px;
    width: 70%;
/*     background-color: palegreen;
 */    margin-top: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}
.title{ 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
/*     background-color: green;
 */    font-size: 56px;
    font-weight: bold;
    color: black;
}

.parrafo{
    width: 50%;
    display: flex;
    text-align: center;
    /* align-items: center; */
/*     background-color: blue;
 */    color: #312F2F;
    justify-content: center;
    
}

.button__header{
    margin-left: 614px;
    margin-right: 643px;
    width: 10%;
    height: 66px;
    color: white;
    border-radius: 36px;
    font-size: 24px;
    cursor: pointer;
    background-color: black;
}

.div__formulario{
    background-color: rgba(0, 0, 0, 0.7);
    width: 30%;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;   
}
.button__back{
    margin-top: 15px;
    cursor: pointer;
    background-color: #f6c600;
    width: 150px;
    
    color: black;
    cursor: pointer;
    border-radius: 30px;
}
.button__back:hover{
    transform: scale(20px);
}
.form{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 30px   ;
    flex-direction: column;
    padding: 100px;
}
.label{
    color: white;
    justify-content: space-between;
    display: flex;
    gap: 10px;
}
.input{
    background-color: white;
    border-radius: 10px;
    color: black;
}

.button__formulario{
    background-color: #f6c600;
    width: 150px;
    height: 40px;
    color: black;
    cursor: pointer;
    border-radius: 30px;
}